.ProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.07);
    border-radius: 5px;
    width: 100%; 
    padding: 1rem;
}

.ProductCard img {
    width: 100%;
    height: clamp(200px, 15vw, 400px);
    object-fit: contain;
    /* padding: 1rem; */
    transition: .3s ease-in-out;
}

.ProductCard img:hover {
    transform: scale(1.1);
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    /* padding: 1rem; */
    
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.price {
    
    color: rgb(45, 177, 253);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
}



.quantityControl {
    display: flex;
    gap: .5rem;
}

.quantityControl input {
    width: 40px;
    text-align: center;
}
.quantityControl button {
    width: 20px;
}

.AtCButton {
    background-color: hsl(209, 78%, 56%);
    height: 3rem;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    
}