.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;  /* Important: needs background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    padding: 1.5rem;
    
    
    

}


.logo button {
    
    background-color: white;
    border: none;
    cursor: pointer;
}

.logo button .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.logo h2 {
    color: rgb(55, 126, 192);
    font-weight: 700;
}


.navBar ul{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    list-style-type: none;
    color: hsl(220 8.9% 46.1%);
}

.headingCart {
    display: flex;
    gap: 6px;
    align-items: center;
}

.cartIconWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    bottom: 12px;
    
}




hr {
  border: none; /* Remove default border */
  height: .5px; /* Set height for the line */
  background-color: #dbd9d9; /* Set color */
  margin: 20px 0; /* Add top and bottom margin */
}